.header-menu {
  margin-bottom: 15px;
  padding-left: 200px;
  justify-content: flex-end;
  background: #333333 !important;
  color: #ffffff !important;
}
.header-menu .ant-menu-item:hover {
  color: #ffffff !important;
}
.header-typography .ant-typography {
  color: #ffffff !important;
}
.header-menu li {
  margin: 0 40px !important;
}

/* Notification CSS */
.notification-wrapper {
  
  z-index: 1;
  right: 10px;
  width: 366px;
  position: absolute;
  top: 55px;
  align-items: center;
  border-radius: 4px;

  max-height: 350px;
  overflow-y: scroll;
  border: 1px solid #ccc;
}

.notification-wrapper::-webkit-scrollbar {
  width: 8px;
}

.notification-wrapper::-webkit-scrollbar-track {
  /* background-color:grey; */
}

.notification-wrapper::-webkit-scrollbar-thumb {
  /* background-color: #ccc; */
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
}

.noti-item {
  display: flex;
  color: #fff;
  padding: 10px 20px;
  align-items: center;
  font-size: 14px;
  margin-top: 10px;
  background: #000;
  cursor: pointer;
  
}

.noti-item.read {
  background: #fff;
}

.alias span {
  padding: 10px;
  border-radius: 100%;
  margin-right: 15px;
}

.noti-icon {
  color: #000;
}

.noti-content {
  text-align: left;
}

.notify-wrapper {
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  background: #ffffff;
  padding: 4px;
  max-width: 34px;
}

span.noti-count {
  position: absolute;
  font-size: 12px;
  background: red;
  border-radius: 100%;
  top: 0px;
  left: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
}

.clr-noti {
  display: flex;
  justify-content: flex-end;
  padding-right: 18px;
  padding-top: 26px;
  padding-bottom: 17px ;

}

.clr-noti button {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  border-radius: 10px;
}
