.news {
  border-radius: 4px;
  margin-top: 20px;
  padding: 20px;
  text-align: initial;
}
/* .news .ant-typography{
  color: #fff !important;
} */
.newsBoardText {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.newsPin {
  color: white;
  font-size: 16px;
}
.newsTitle {
  margin-bottom: 0px !important;
  color: blue !important;
  font-size: 16px;
}
.newsSubTitle {
  font-size: 12px !important;
  margin-bottom: 0.4em !important;
}
