.admin-wrapper .ant-menu-item-selected {
    color: #50C1FF !important;
  }

.admin-wrapper .ant-menu-item-selected::after{
  border-bottom-color:#50C1FF !important;
}
.admin-wrapper .ant-menu-item:hover::after{
  border-bottom-color:#50C1FF !important;
}

.admin-wrapper tbody td.ant-table-row-expand-icon-cell button{
  position: absolute;
  left: -143px;
  top: 18px;
  min-width: 50px;
}

.admin-wrapper .ant-table-expanded-row > .ant-table-cell {
  padding: 0;
}
.admin-wrapper .ant-table-thead .ant-table-cell {
  background: #000 !important;
}

.admin-wrapper .ant-table-thead .ant-table-cell::before {
  width: 0px !important;
}

.admin-wrapper .ant-table-header {
  border-top: none;
}
.admin-wrapper  .ant-table-cell-scrollbar {
  box-shadow: none !important;
}

.admin-wrapper .ant-select-selector {
  background: #141414 !important;
  border-radius: 4px !important;
}

.admin-wrapper  .ant-select-arrow, .ant-select-selection-placeholder {
  color: #fff !important;
}

.admin-wrapper  col.ant-table-expand-icon-col {
  width: 1px !important;
}
.admin-wrapper .custom-secondary-search{
  width:400px !important
}

.admin-wrapper .custom-secondary-search .ant-btn, .admin-wrapper .custom-secondary-search .ant-btn:hover  {
  background-color: #50C1FF;
}

.ant-form-item-label {
  text-align: left !important;
}
.admin-wrapper .custom-secondary-search .ant-input-affix-wrapper:hover, 
.admin-wrapper .custom-secondary-search .ant-input-affix-wrapper-focused {
  border-color: #50C1FF !important;
}

.secondary-btn:hover {
  color: #FFF !important;
  border-color: #50C1FF !important;
}

span.ant-select-selection-item, .ant-select-selection-overflow-item {
  background: #141414 !important;
  border: none !important;
}

.ant-select-selector:first-child .ant-select-selection-overflow-item:first-child .remove-first-coma::first-letter{
  visibility: hidden;
}

.admin-menu {
  background: none;
  margin: '30px auto';
  border-bottom-width:1px;
  border-bottom-color:#9E9E9E
}
.admin-menu li{
  margin: 0 40px !important;
}