.search-wrapper {
  color: #ffffff !important;
  padding: 30px;
  height: 100vh;
}
.search-wrapper .divider {
  border-color: gray;
}


.ant-table-cell .progressContent {
  font-size: 10px;
}

.priority-img.None .anticon {
  background: #f5fa20;
  color: #000;
  font-size: 15px;
  border-radius: 3px;
  padding: 2px;
}
.priority-img.Low .anticon {
  background: #85d305;
  color: #000;
  font-size: 16px;
  border-radius: 3px;
  padding: 2px;
}
.priority-img.Medium .anticon {
  background: #f5fa20;
  color: #000;
  font-size: 15px;
  border-radius: 3px;
  padding: 2px;
}
.priority-img.High .anticon {
  background: #f68b0d;

  color: #000;
  font-size: 16px;
  border-radius: 3px;
  padding: 2px;
}

.priority-img.Critical .anticon {
  transform: rotate(-90deg);
  background: #ff0c0c;
  color: #000;
  font-size: 16px;
  border-radius: 3px;
  padding: 2px;
}
.tableRowSelection {
  cursor: pointer;
}
