body {
  width: 100%;
  height: 100%;
  background: #000000;
}
/* Calendar */

.ant-picker-calendar.custom-calendar .ant-picker-calendar-header {
  /* margin-top: -60px; */
  padding-right: 20px;
}
.custom-calendar .ant-picker-panel {
  /* margin-top: 12px; */
}
.ant-picker-calendar.ant-picker-calendar-full .ant-picker-panel {
  display: block;
  width: 100%;
  text-align: end;
  border: 0;
}
/* .ant-picker-calendar.ant-picker-calendar-full .ant-picker-calendar-date{
  background: #191919;
} */
.ant-picker-cell-inner .ant-picker-calendar-date {
  background: #191919 !important;
}
/* ant-picker-cell-inner ant-picker-calendar-date */
/* List */
/* .ant-picker-cell{
  background: #191919 !important;
} */
.ant-picker-content > td {
}
.ant-picker-cell .ant-picker-cell-end {
  background: #191919 !important;
}
.ant-picker-body {
  background: #222222 !important;
}
.ant-picker-calendar.ant-picker-calendar-full .ant-picker-panel .ant-picker-body th {
  color: #fff !important;
}
.ant-picker-calendar.ant-picker-calendar-full .ant-picker-calendar-date-value {
  color: #fff !important;
}
.ant-list .ant-spin-container {
  padding-top: 4px;
  padding-bottom: 8px;
}
.ant-list .ant-list-item {
  border-block-end: none !important;
  padding: 4px 12px;
}
.ant-list-item-meta {
  /* background-color: var(--list-background); */
  padding: 12px;
  border-radius: 4px;
}
.ant-switch {
  background-color: gray;
}
/* .ant-switch-checked{
  background-color: gray;
} */
.background-overlay {
  background: #333333;
}
.dashboard-layout .ant-typography {
  color: #ffffff;
}
.divideComponent .ant-col {
  max-width: 100%;
}
.divideComponent .ant-upload-wrapper .ant-upload-drag .ant-upload-btn {
  height: 197px !important;
  background: #141414 !important;
}
.notesContent {
  margin-top: -7px !important;
}
.notesContent .ant-input-textarea-show-count > .ant-input {
  height: 121px !important;
}
.notesContent .ant-row {
  display: grid;
}
/* .ant-upload-wrapper .ant-upload-drag .ant-upload-btn */

/* .ant-upload-wrapper .ant-upload-drag p.ant-upload-text */
/* .ant-upload-wrapper .ant-upload-drag .ant-upload-btn{
  background: #141414;
} */
.Release_listContainer__qN62s .ant-card .ant-card-body {
  padding: 5px !important;
}
.Release_listContainer__qN62s .ant-card-bordered {
  border-radius: 5px !important;
}
.Release_listContainer__qN62s .ant-card-body {
  background: #191919;
}

.ant-message-notice {
  padding: 0;
}
.custom-message-top .ant-message-notice-content {
  background-color: #74b605;
  border-radius: 0;
  box-shadow: unset;
  width: 100%;
  color: #fff;
  padding: 17px;
}

.custom-message-top .ant-message-success > .anticon {
  color: #ffffff;
}
.custom-message-top-error .ant-message-notice-content {
  background-color: #d32f2f;
  border-radius: 0;
  box-shadow: unset;
  width: 100%;
  color: #fff;
  padding: 17px;
}

.custom-message-top-error .ant-message-error > .anticon {
  color: #ffffff;
}

.ant-select-selection-item {
  margin-inline-end:0px !important;
  padding-inline-start:2px !important;
  padding-inline-end:0px !important;
}



.notification-wrapper::-webkit-scrollbar {
  width: 8px;
}

.notification-wrapper::-webkit-scrollbar-track {
  /* background-color:grey; */
}

.notification-wrapper::-webkit-scrollbar-thumb {
  /* background-color: #ccc; */
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
}