body {
  font-family: 'Roboto Condensed', sans-serif;
}

/* Override AntD */
.ant-layout-header {
  background: #222222 !important;
  padding-inline: 40px !important;
  height: 56px !important;
  line-height: 56px !important;
}
.ant-layout-sider {
  background-color: black !important;
}
aside .ant-menu {
  border-inline-end: none !important;
  background: black;
}
aside .ant-menu-item {
  background: #111111;
  margin-bottom: 8px !important;
  margin-inline: 0px !important;
  width: 100% !important;
  border-radius: 2px !important;
}
aside .ant-menu-item-selected {
  border-bottom: 1px solid #74b607;
}
